<div class="body">
    <nav>
        <div class="titulo">
            <h4>ADser Truco</h4>
        </div>
        <div class="logo">
            <img src="assets/Logotruco.png" alt="">
        </div>
        <div>
            <button (click)="closed()" class="set">Salir</button>
            <button (click)="cambiar()" class="set">Contraseña</button>
        </div>
    </nav>
    <div class="forms">
        <div *ngIf="!isAdmin" class="user">
            <h3>Usuario: {{user.name}}</h3>
            <h3>Credito: {{user.credito}}</h3>
        </div>
        <div *ngIf="isAdmin" class="user">
            <h3>Usuario: Administrador</h3>
        </div>
        <div class="salas">
            <h1>Crear sala</h1>
            <div class="form-block" [formGroup]="formSala">
                <label for="sala">Nombre de la sala</label>
                <input (keydown.enter)="createSala()" formControlName="name" type="text" id="name">
                <div class="error">
                    <i *ngIf="formSala.get('name')?.invalid && formSala.get('name')?.touched">Nombre es requerido.</i>
                </div>
                <label for="apuesta">Apuesta:</label>
                <input (keydown.enter)="createSala()" formControlName="apuesta" type="number">
                <div class="error">
                    <p *ngIf="formSala.get('apuesta')?.value > 499">Cada jugador apuesta
                        {{formSala.get('apuesta')?.value | currency}}. El ganador recibe
                        {{(formSala.get('apuesta')?.value * 2) * 0.85 | currency}}</p>
                </div>
                <div class="error">
                    <i *ngIf="formSala.get('apuesta')?.invalid && formSala.get('apuesta')?.touched">Apuesta es
                        requerido.</i>
                </div>
                <button [disabled]="formSala.invalid" class="crear" (click)="createSala()">Crear</button>
            </div>
            <div class="form-block">
                <h2 for="sala">Ingresar a una sala:</h2>
                <div class="reload">
                    <div class="buscador" [formGroup]="form">
                        <div class="inpu">
                            <input #inp type="text" formControlName="texto" placeholder="Buscar...">
                            <span class="material-symbols-outlined">
                                search
                            </span>
                        </div>
                    </div>

                    <button title="Recargar salas" (click)="reload()">
                        <span class="material-symbols-outlined">
                            update
                        </span>
                    </button>
                </div>
                <br>
                <div *ngIf="searchSalas.length > 0">
                    <ng-container *ngFor="let item of searchSalas">
                        <div class="salaItem">
                            <button title="Ingresar a {{item.name}}" (click)="sala(item)">{{item.name}}</button>
                            <p>{{item.apuesta | currency}}</p>
                            <button *ngIf="isAdmin" title="Eliminar sala" (click)="deleteSala(item._id)">
                                <span class="material-symbols-outlined">
                                    delete
                                </span>
                            </button>
                        </div>
                    </ng-container>
                </div>
                <br>
                <ng-container *ngFor="let item of salas">
                    <div class="salaItem">
                        <button title="Ingresar a {{item.name}}" (click)="sala(item)">{{item.name}}</button>
                        <span *ngIf="item.usuarios.length > 1"><span class="material-symbols-outlined llena">
                                block
                            </span></span>
                        <p>{{item.apuesta | currency}}</p>
                        <button *ngIf="isAdmin" title="Eliminar sala" (click)="deleteSala(item._id)">
                            <span class="material-symbols-outlined">
                                delete
                            </span>
                        </button>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<div class="cambiarPass" *ngIf="cambiarPass">
    <div class="forms">
        <div class="form-user">
            <button class="cerrar" (click)="cerrar()">
                <span class="material-symbols-outlined">
                    cancel
                </span>
            </button>
            <h1>Cambiar contraseña</h1>
            <div [formGroup]="formPass" class="form-block">
                <label for="passOld">Contraseña</label>
                <input formControlName="passOld" type="password" id="passOld">
                <div class="error">
                    <i
                        *ngIf="formPass.get('passOld')?.invalid && formPass.get('passOld')?.errors?.['minlength'] && formPass.get('passOld')?.touched">Ingrese
                        una contraseña válida.</i>
                </div>
                <label for="passNew">Nueva contraseña:</label>
                <input formControlName="passNew" type="password" id="passNew">
                <div class="error">
                    <i
                        *ngIf="formPass.get('passNew')?.invalid && formPass.get('passNew')?.errors?.['minlength'] && formPass.get('passNew')?.touched">Ingrese
                        una contraseña válida.</i>
                </div>
                <label for="pass">Confirmar contraseña</label>
                <input formControlName="passConf" type="password" id="pass">
                <div class="error">
                    <i
                        *ngIf="formPass.get('passConf')?.invalid && formPass.get('passConf')?.errors?.['minlength'] && formPass.get('passConf')?.touched">Ingrese
                        una contraseña válida.</i>
                    <i
                        *ngIf="formPass.get('passConf')?.value !== formPass.get('passNew')?.value && formPass.get('passConf')?.touched">La
                        nueva contraseña debe coinsidir con la confirmación.</i>
                </div>
                <button [disabled]="formPass.invalid" (click)="sendPass()">Cambiar</button>
            </div>
        </div>
    </div>
</div>
