<div class="body" >
    <nav>
        <div class="titulo">
            <h4>ADser Truco</h4>
        </div>
        <div class="logo">
            <img src="assets/Logotruco.png" alt="">
        </div>
        
    </nav>
    <div class="forms">
        <div class="salas">
            <h1>Crear sala</h1>
            <div class="form-block" [formGroup]="formSala">
                <label for="sala">Nombre de la sala</label>
                <input formControlName="name" type="text" id="name">
                <div class="error">
                    <i *ngIf="formSala.get('name')?.invalid && formSala.get('name')?.touched">Nombre es requerido.</i>
                </div>
                <label for="apuesta">Apuesta:</label>
                <input formControlName="apuesta" type="number">
                <div class="error">
                    <i  *ngIf="formSala.get('credit')?.invalid && formSala.get('credit')?.touched">Creditos es requerido.</i>
                </div>
                <button [disabled]="formSala.invalid" class="crear" (click)="createSala()">Crear</button>
            </div>
            <div class="form-block">
                <h2 for="sala">Ingresar a una sala:</h2>
                <br>
                <ng-container *ngFor="let item of salas">
                    <div class="salaItem">
                        <button title="Ingresar a {{item.name}}" (click)="sala(item)">{{item.name}}</button>
                        <button title="Eliminar sala" (click)="deleteSala(item._id)">
                            <span class="material-symbols-outlined">
                                delete
                            </span>
                        </button>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>

