.body{
    width: 100%;
    min-height: 100vh;
    /* padding: 10%; */
    display: flex;
    align-items: center;
    background-image: url('../../../../assets/Logotruco.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--back);
    position: relative;
}
.body nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    background: #000;
    padding: 10px;
    top: 0;
    left: 0;
    color: #fff;
}
nav .logo{
    width: 40px;
    height: 40px;
}
.logo img{
    width: 100%;
    border-radius: 30%;
}
nav .set{
    background: #fff;
    color: #000;
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 0px 10px;
    cursor: pointer;
    margin-right: 10px;
}
.forms{
    display: flex;
    margin: auto;
    width: 100%;
    /* align-items: center; */
    margin-top: 10%;
    flex-direction: column;
}
.salas, .form-user{
    width: 35%;
    margin: 20px auto;
    padding: 20px;
    border: solid 1px #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 12px rgba(255, 255, 255, 0.795),
    -2px -2px 12px rgba(255, 255, 255, 0.788);
    color: #fff;
    background: #000000d5;
}
.forms .user{
    width: 35%;
    margin: 10px auto;
    padding: 5px 10px;
    border: solid .3px #fff;
    background: #000000d5;
    color: #fff;
}
.form-block{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.form-block input{
    background-color: transparent;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    padding: 3px;
    border-radius: 3px;
    border-bottom: solid 1px var(--bordeBajo);
    color: #dddcdc;
}
.form-block input:focus-visible{
    background: #ffffff34;
    border: solid 1px var(--bordeBajo);
  }
  .form-block label{
    margin-top: 10px;
  }
.form-block button, .salaItem{
    width: 100%;
    color: #fff;
    background: rgb(151, 92, 3);
    padding: 5px;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.reload{
    width: auto;
    text-align: right;
}
.reload button{
    width: 20%;
    background: #444343;
}
.form-block button.crear, .form-user button{
    background-color: #000;
    border-radius: 3px;
    margin-top: 10px;
    color: #fff;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    border: solid 1px #fff;
    padding: 10px 0px;
}
.salaItem button{
    width: auto;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}
.salaItem{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border: solid .7px #fff;
    align-items: center;
}
.form-block button.crear:hover, .form-user button:hover{
    background: var(--bordeBajo);
}

button:hover{
    background: var(--bordeBajo);
}

.error{
    min-height: 25px;
    display: flex;
    flex-direction: column;
}
.error i{
    font-size: 10px;
    color: var(--bordeBajo);
}

button:disabled{
    filter: brightness(0.4);
}
button:disabled:hover{
    background: #000;
}
.cambiarPass{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000b4;
    color: #fff;
}
.cambiarPass .form-user{
    position: relative;
}
.form-user .cerrar{
    position: absolute;
    right: -25px;
    top: -35px;
    border: none;
    color: #fff;
    background: transparent;
    outline: none;
}

@media screen and (max-width: 980px) {
    .forms .user, .salas{
        width: 50%;
    }
}
@media screen and (max-width: 570px) {
    .forms{
        margin-top: 20%;
    }
    .forms .user, .salas{
        width: 80%;
    }
}
@media screen and (max-width: 320px) {
    .titulo{
        display: none;
    }
    .salas{
        width: 90%;
    }
}
