<nav>
    <img src="logo" alt="">
    <h2>A de ser truco</h2>
    <button>opciones</button>
</nav>
<div class="body">
    <div class="titulo">
        <div class="datos">
            <h4>SALA: {{nameSala | uppercase}}</h4>
            <h4>APUESTA: {{sala?.apuesta | currency}}</h4>
        </div>
        <div class="tantos">
            <h4>TANTOS</h4>
            <hr>
            <div class="puntos">
                <h4>{{jugador.name}}:</h4>
                <div class="cajas">
                    <div class="caja"></div>
                    <div class="caja"></div>
                    <div class="caja"></div>
                </div>
            </div>
            <div class="puntos">
                <h4>{{jugadorCont.name}}:</h4>
                <div class="cajas">
                    <div class="caja"></div>
                    <div class="caja"></div>
                    <div class="caja"></div>
                </div>
            </div>
        </div>
        <div class="nombre">
            <h5>USUARIO: {{jugador.name}}</h5>
        </div>
    </div>
    <div *ngIf="sala?.usuarios" class="jugadores">
        <div class="cardsCot">
            <div class="cardCont" >
                <img *ngFor="let valor of jugadorCont?.valores" src="../../../../assets/trasera.jpg" alt="">
            </div>
        </div>
        <div *ngFor="let item of sala?.usuarios" class="jugador">
            
            <div class="jugadas">
                <div class="juego">
                    <p class="jugoC" *ngFor="let carta of item?.jugada"><img src="../../../../assets/{{carta.carta}}.jpg" alt=""></p>

                </div>
            </div>
        </div>
    </div>
    <div class="cards">
        <!-- <h3>Cartas de: {{jugador.name}}</h3> -->
        <button [disabled]="!jugador.juega" class="card" *ngFor="let valor of jugador?.valores" (click)="juega(valor)">
            <img src="../../../../assets/{{valor.name}}.jpg" alt="">
        </button>
    </div>
    <!-- <h2>Tantos: {{jugador.tantos}}</h2> -->
    <button (click)="repartir()">Repartir</button>
    <div class="botonesCanto">
        <div class="cantos">
            <button [disabled]="!btnMentiras || truco" [ngClass]="{'noPuede': !btnMentiras}" (click)="canto('envido')">Envido</button>
            <button [disabled]="!btnMentiras || truco" [ngClass]="{'noPuede': !btnMentiras}" (click)="canto('realEnvido')">Real envido</button>
            <button [disabled]="!btnMentiras || truco" [ngClass]="{'noPuede': !btnMentiras}" (click)="canto('faltaEnvido')">Falta envido</button>
            <button [disabled]="truco" (click)="canto(cantoActual)">{{cantoActual}}</button>
            <button [disabled]="truco || !btnMentiras" (click)="canto('flor')">Flor</button>
        </div>
    </div>
</div>

<div class="standBy" *ngIf="!jugadorCont.name">
    <div class="texto">
        <h1>Esperando<b>r</b>rival...</h1>
    </div>
</div>
<div class="canto" *ngIf="cantoConf">
    <div class="contCanto">
        <div class="texto">
            <h1>{{cantora | uppercase}}</h1>
        </div>
        <div class="btns flor" *ngIf="respuesta.canto === 'flor' || respuesta.canto === 'contraFlor' || respuesta.canto === 'florMeachico'">
            <button (click)="contestarCanto('aceptar')" >Aceptar</button>
            <button (click)="contestarCanto('contraFlor')">Contra flor</button>
            <button (click)="contestarCanto('florMeachico')">Con flor me achico</button>
            <button  (click)="contestarCanto('flor')">Flor</button>
        </div>
        <div class="btns" *ngIf="respuesta.canto !== 'flor'&& respuesta.canto !== 'contraFlor' && respuesta.canto !== 'florMeachico'">
            <button (click)="contestarCanto('quiero')" >Quiero</button>
            <select #slected (change)="contestarCanto('envido')" class="envido" *ngIf="btnMentiras && truco && !reEnvido && !realEnvido && !faltaEnvido && !reTruco">
                <option value="">El envido va primero</option>
                <option value="envido">
                    Envido
                </option>
                <option value="realEnvido">
                    Real envido
                </option>
                <option value="faltaEnvido">
                    Falta envido
                </option>
            </select>
            <button *ngIf="truco && !reTruco" (click)="contestarCanto('retruco')">Retruco</button>
            <button *ngIf="!valeCuatro && reTruco" (click)="contestarCanto('valeCuatro')">Vale cuatro</button>
            <button *ngIf="envido && !reEnvido && !realEnvido && !faltaEnvido" (click)="contestarCanto('reenvido')">Envido</button>
            <button *ngIf="!realEnvido && !faltaEnvido && !truco" (click)="contestarCanto('realEnvido')">Real envido</button>
            <button *ngIf="!faltaEnvido && !truco" (click)="contestarCanto('faltaEnvido')">Falta Envido</button>
            <button *ngIf="envido && !reEnvido && !realEnvido && !faltaEnvido" (click)="contestarCanto('flor')">Flor por atrevido</button>
            <button (click)="contestarCanto('noquiero')">No quiero</button>
        </div>
    </div>
</div>
<div *ngIf="mensaje" class="mensaje">
    <h1>{{mensaje}}</h1>
</div>