nav{
    max-width: 1240px;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background: #000;
    color: #fff;
}
nav .logo{
    width: 30px;
    height: 30px;
}
.logo img{
    width: 100%;
    border-radius: 25%;
}
nav .set{
    background: #fff;
    color: #000;
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 0px 10px;
    cursor: pointer;
    margin-right: 10px;
}
.options{
    width: 100%;
    height: 100vh;
    background: #000000af;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.options .btns button{
    display: block;
    padding: 10px;
    margin: 5px;
    border: none;
    background: transparent;
    width: 100%;
    color: #fff;
    cursor: pointer;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
    text-transform: uppercase;
    outline: none;
    border-radius: 3px;
}
.options .btns button:hover{
    background: rgba(26, 25, 23, 0.856);
}
.time{
    position: fixed;
    top: 20px;
    text-transform: uppercase;
    right: 50%;
    background: rgba(230, 225, 225, 0.952);
    padding: 10px;
    color: var(--bordeBajo);
    border: solid 1px #fff;
    border-radius: 5px;
}
.body{
    max-width: 1240px;
    margin: auto;
    min-height: 100vh;
    text-align: center;
    padding: 10px 0px;
    background-image: url('../../../../assets/bar.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.jugadores{
    border: solid 1px #f8f5f5;
    width: 90%;
    margin: 20px auto;
    background-image: url('../../../../assets/mesa1.avif');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 10px #fff,
    -2px -2px 10px #fff;
    border-radius: 7px;
    color: #fff;
}
.cards, .titulo{
    display: block;
}
.titulo .tantos, .titulo .nombre h5{
    padding: 5px 10px;
    border: solid .3px #fff;
    text-align: center;
}
.tantos .h4{
    width: 100%;
    text-align: center;
}
.cards{
    margin-top: -120px;
}
.cardsCot{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.cardCont{
    display: flex;
    justify-content: flex-end;
    width: 30%;
    margin-top: 5px;
}
.cardCont img{
    width: 15%;
    margin-right: 5px;
}
.tantos .puntos{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.cajas{
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-around;
}
.pintarPuntos{
    width: 15px;
    height:15px;
    position: relative;
    display: flex;
    margin-left: 5px;
}
.pintarPuntos .punto0, .pintarPuntos .punto5, .pintarPuntos .punto10{
    position: absolute;
    background: #fff;
    width: 100%;
    top: 0;
    left: 0;
    height: 1px;
}
.pintarPuntos .punto1, .pintarPuntos .punto6, .pintarPuntos .punto11{
    position: absolute;
    background: #fff;
    width: 1px;
    top: 0;
    right: 0;
    height: 100%;
}
.pintarPuntos .punto2, .pintarPuntos .punto7, .pintarPuntos .punto12{
    position: absolute;
    background: #fff;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 1px;
}
.pintarPuntos .punto3, .pintarPuntos .punto8, .pintarPuntos .punto13{
    position: absolute;
    background: #fff;
    width: 1px;
    top: 0;
    left: 0;
    height: 100%;
}
.pintarPuntos .punto4, .pintarPuntos .punto9, .pintarPuntos .punto14{
    background: #fff;
    width: 1px;
    top: 0;
    margin: auto;
    height: 100%;
    transform: rotate(50deg);
}
.pintarPuntos .punto{
    color: rgb(71, 247, 2);
    font-size: 14px;
    margin: auto;
    top: 0;
    height: 100%;
}
.titulo{
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    text-align: left;
}
.titulo .datos h4{
    padding: 5px 10px;
    border: solid .3px #fff;
    margin-bottom: 3px;
    border-radius: 2px;
    background: #3f3333a1;
}
.dataTitle, .cards h3{
    width: 95%;
    padding: 10px 5px;
    text-align: left;
    margin: 10px auto;
    border-radius: 3px;
    background: #3d392c;
    box-shadow: 2px 2px 12px #000000cb,
                -2px -2px 12px #000000cb;
}
.cards h3{
    text-align: center;
}
.invertir{
    display: flex;
    flex-flow: column-reverse wrap-reverse;
}
.jugador{
    width: 50%;
    min-height: 30vh;
    margin: 0px auto;
    padding: 10px 20px;
}
.jugadas{
    text-align: left;
}
.card{
    margin: 10px 5px;
    display: inline-block;
    width: 15%;
    cursor: pointer;
    border-radius: 16px;
    overflow: hidden;
}
.card img, .jugoC img{
    width: 100%;
    object-fit: contain;
}
.juego{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    width: 100%;
    flex-flow: row-reverse wrap-reverse;
}
.jugoC{
    border-radius: 6px;
    margin: auto;
    width: 20%;
}
.jugoC img{
    border-radius: 5px;
}
.botonesCanto{
    position: sticky;
    bottom: 0px;
}
.cantos{
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
    margin: auto;
}
.cantos button{
    color: #000;
    background: #fff;
    padding: 5px;
    border: solid .8px #000000;
    border-radius: 3px;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: all .6s ease-in-out;
    flex: 1 1 100px;
}
.cantos button:hover{
    color: #fff;
    background: #000;
}
.cantos .noPuede, button:disabled{
    filter: brightness(0.5);
}
.canto{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
}
.canto .contCanto{
    margin: auto;
    background: #fff;
    width: max-content;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
}
.canto .contCanto .btns{
    margin: 15px auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.canto .contCanto .btns button{
    background: #3f3a3ab6;
    color: #fff;
    padding: 5px;
    border: solid .7px #000;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
}
.canto .contCanto .btns button.quiero{
    background: rgba(0, 88, 0, 0.719);
}
.canto .contCanto .btns button.noQuiero{
    background: rgba(202, 2, 2, 0.767);
    font-weight: bold;
}
.canto .contCanto .flor button:nth-child(1){
    background: #000;
}
.standBy{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #080808a1;
    color: #fff;
}
.standBy .texto h1{
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
    font-size: 4em;
    text-shadow: 1px 1px 9px #fde407d7,
    -1px -1px 9px #fde407d7;
    animation: esperando 2s steps(39) infinite;
    overflow: hidden;
}
.standBy .texto h1 b{
    color: transparent;
    text-shadow: none;
}

@keyframes esperando {
    0%{width: 0px;}
     100%{width: 110%;}
}

.mensaje{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff63;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;
}
.mensaje h1{
    margin: auto;
    border: 1px solid #000;
    border-radius: 6px;
    outline: none;
    padding: 10px;
    background: #dfa403;
}

@media screen and (max-width: 900px) {
    .standBy .texto h1{
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .titulo{
        display: flex;
        flex-direction: column;
    }
    .titulo .datos{
        display: flex;
        margin: auto;
    }
    .titulo .tantos, .titulo .nombre{
        width: 70%;
        margin: auto;
    }
    .tantos .puntos{
        justify-content: start;
    }
    .tantos h4{
        width: 50%;
        text-align: left;
    }
    .card{
        width: 25%;
    }
    .jugador{
        width: 70%;
    }
    .standBy .texto h1, .contCanto .texto h1{
        font-size: 16px;
    }
    .cantos{
        width: 100%;
    }
}
@media(max-width: 380px) {
    .cantos, .jugadores{
        width: 100%;
    }
}