<nav>
    <div class="logo" title="ADser Truco">
        <img src="assets/Logotruco.png" alt="">
    </div>
    <h2>ADser Truco</h2>
    <button (click)="cancel()" class="set">Salir</button>
</nav>
<div class="body">
    <div class="titulo">
        <div class="datos">
            <h4>SALA: {{nameSala | uppercase}}</h4>
            <h4>APUESTA: {{sala?.apuesta | currency}}</h4>
        </div>
        <div class="tantos">
            <h4>TANTOS</h4>
            <hr>
            <div class="puntos">
                <h4>{{jugador.name}}:</h4>
                <div class="cajas">
                    <div class="pintarPuntos">
                        <div *ngFor="let item of tantos1" class="punto{{tantos1.indexOf(item)}}"></div>
                    </div>
                    <div class="pintarPuntos">
                        <div *ngFor="let item of tantos2" class="punto{{tantos2.indexOf(item)}}"></div>
                    </div>
                    <div class="pintarPuntos">
                        <div *ngFor="let item of tantos3" class="punto{{tantos3.indexOf(item)}}"></div>
                    </div>
                </div>
            </div>
            <div class="puntos">
                <h4>{{jugadorCont.name}}:</h4>
                <div class="cajas">
                    <div class="pintarPuntos">
                        <div *ngFor="let item of tantosCont1" class="punto{{tantosCont1.indexOf(item)}}"></div>
                    </div>
                    <div class="pintarPuntos">
                        <div *ngFor="let item of tantosCont2" class="punto{{tantosCont2.indexOf(item)}}"></div>
                    </div>
                    <div class="pintarPuntos">
                        <div *ngFor="let item of tantosCont3" class="punto{{tantosCont3.indexOf(item)}}"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nombre">
            <h5>USUARIO: {{jugador.name}}</h5>
            <h5>CREDITOS: {{jugador.creditos | currency}}</h5>
        </div>
    </div>
    <div *ngIf="sala?.usuarios" class="jugadores">
        <div class="cardsCot">
            <div class="cardCont" >
                <img *ngFor="let valor of jugadorCont?.valores" src="../../../../assets/trasera.jpg" alt="">
            </div>
        </div>
        <h2>Tantos: {{jugador.tantos}}</h2>

        <div [ngClass]="{'invertir': invertCards}">
           
           <div *ngFor="let item of sala?.usuarios" class="jugador">
                
                <div class="jugadas">
                    <div class="juego">
                        <p class="jugoC" *ngFor="let carta of item?.jugada"><img src="../../../../assets/{{carta.carta}}.jpg" alt=""></p>

                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="cards">
        <!-- <h3>Cartas de: {{jugador.name}}</h3> -->
        <button [disabled]="!jugador.juega" class="card" *ngFor="let valor of jugador?.valores" (click)="juega(valor)">
            <img src="../../../../assets/{{valor.name}}.jpg" alt="">
        </button>
    </div>
    <button (click)="repartir()">Repartir</button>
    <div class="botonesCanto">
        <div class="cantos">
            <button [disabled]="!btnMentiras || truco" [ngClass]="{'noPuede': !btnMentiras}" (click)="canto('envido')">Envido</button>
            <button [disabled]="!btnMentiras || truco" [ngClass]="{'noPuede': !btnMentiras}" (click)="canto('realEnvido')">Real envido</button>
            <button [disabled]="!btnMentiras || truco" [ngClass]="{'noPuede': !btnMentiras}" (click)="canto('faltaEnvido')">Falta envido</button>
            <button *ngIf="!truco" [disabled]="!jugador.puedeCantar" (click)="canto('truco')">Truco</button>
            <button *ngIf="truco" [disabled]="!jugador.puedeCantar || valeCuatro" (click)="contestarCanto(cantoActual, false)">{{cantoActual}}</button>
            <button [disabled]="truco || !btnMentiras || 
            !jugador.puedeFlor || flor" (click)="canto('flor')">Flor</button>
        </div>
    </div>
</div>

<div class="standBy" *ngIf="!jugadorCont.name">
    <div class="texto">
        <h1>Esperando<b>r</b>rival...</h1>
    </div>
</div>
<div class="canto" *ngIf="cantoConf">
    <div class="contCanto">
        <div class="texto">
            <h1>{{cantora | uppercase}}</h1>
        </div>
        <div class="btns flor" *ngIf="respuesta.canto === 'flor' || respuesta.canto === 'florFlor' || respuesta.canto === 'contraFlor' || respuesta.canto === 'florMeAchico'">
            <button *ngIf="flor && contraFlor" (click)="contestarCanto('quiero')">Quiero</button>
            <button *ngIf="!contraFlor" (click)="contestarCanto('aceptar')" >Aceptar</button>
            <button *ngIf="jugador.puedeFlor && !contraFlor" (click)="contestarCanto('contraFlor')">Contra flor</button>
            <button *ngIf="jugador.puedeFlor && !florMeachico && florFlor && !contraFlor" (click)="contestarCanto('florMeAchico')">Con flor me achico</button>
            <button *ngIf="jugador.puedeFlor && !florFlor && !contraFlor"  (click)="contestarCanto('florFlor')">Flor</button>
            <button *ngIf="flor && contraFlor" (click)="contestarCanto('noquiero')">No quiero</button>
        </div>
        <div class="btns" *ngIf="cantoI !== 'flor' &&  cantoI !== 'florFlor' && cantoI !==  'contraFlor' && cantoI !==  'florMeAchico'">
            <button (click)="contestarCanto('quiero')" >Quiero</button>
            <select #slected (change)="contestarCanto('envido')" class="envido" *ngIf="btnMentiras && truco && !reTruco">
                <option value="">El envido va primero</option>
                <option value="envido">
                    Envido
                </option>
                <option value="realEnvido">
                    Real envido
                </option>
                <option value="faltaEnvido">
                    Falta envido
                </option>
            </select>
            <button *ngIf="truco && !reTruco" (click)="contestarCanto('reTruco')">Retruco</button>
            <button *ngIf="!valeCuatro && reTruco" (click)="contestarCanto('valeCuatro')">Vale cuatro</button>
            <button *ngIf="envido && !reEnvido && !realEnvido && !faltaEnvido" (click)="contestarCanto('reEnvido')">Envido</button>
            <button *ngIf="!realEnvido && !faltaEnvido && !truco" (click)="contestarCanto('realEnvido')">Real envido</button>
            <button *ngIf="!faltaEnvido && !truco" (click)="contestarCanto('faltaEnvido')">Falta Envido</button>
            <button *ngIf="envido && !reEnvido && !realEnvido && !faltaEnvido" (click)="contestarCanto('flor')">Flor por atrevido</button>
            <button (click)="contestarCanto('noquiero')">No quiero</button>
        </div>
    </div>
</div>
<div *ngIf="mensaje" class="mensaje">
    <h1>{{mensaje}}</h1>
</div>
<div *ngIf="salir" class="options">
    <div class="btns">
        <button routerLink="/appTruco">Abandonar partida</button>
        <button>Nueva partida</button>
        <button (click)="closed()"> Cerrar sesión</button>
        <button (click)="cancel()">Cancelar</button>
    </div>
</div>