.body{
    max-width: 1240px;
    margin: auto;
    min-height: 100vh;
    text-align: center;
    padding: 5% 0px;
    background-image: url('../../../../assets/bar.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.jugadores, .cards, .titulo{
    border: solid 1px #f8f5f5;
    width: 80%;
    margin: 20px auto;
    display: flex;
    background: #fc91045b;
    box-shadow: 2px 2px 10px #fff,
    -2px -2px 10px #fff;
    border-radius: 7px;
    color: #fff;
}
.cards, .titulo{
    display: block;
}

.titulo{
    padding: 10px 0px;
}
.dataTitle, .cards h3{
    width: 95%;
    padding: 10px 5px;
    text-align: left;
    margin: 10px auto;
    border-radius: 3px;
    background: #3d392c;
    box-shadow: 2px 2px 12px #000000cb,
                -2px -2px 12px #000000cb;
}
.cards h3{
    text-align: center;
}
.jugador{
    width: 40%;
    background: #fc91047c;
    min-height: 30vh;
    border: solid 1px rgb(2, 2, 2);
    margin: 20px auto;
    padding: 10px 20px;
    box-shadow: inset 2px 2px 6px #070707,
    inset -2px -2px 6px #080808;
}
.jugadas{
    text-align: left;
}
.card, .jugoC{
    margin: 10px;
    display: inline-block;
    width: 20%;
    /* font-size: 20px;
    font-weight: bold;
    border: solid 1px rgb(121, 15, 15);
    background: rgb(241, 30, 30);
    color: #fff;
    padding: 20px 15px; */
    cursor: pointer;
    border-radius: 16px;
    overflow: hidden;
}
.card img, .jugoC img{
    width: 100%;
    object-fit: contain;
}
.juego{
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
.jugoC{
    border-radius: 6px;
    margin: auto;
}
.cantos{
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
    margin: auto;
}
.cantos button{
    color: #000;
    background: #fff;
    padding: 5px 0px;
    width: 25%;
    border: solid .8px #000000;
    border-radius: 3px;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: all .6s ease-in-out;
}
.cantos button:hover{
    color: #fff;
    background: #000;
}
.cantos .noPuede, button:disabled{
    filter: brightness(0.5);
}
.canto{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
}
.canto .contCanto{
    margin: auto;
    background: #fff;
    width: max-content;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
}
.canto .contCanto .btns{
    margin: 15px auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.canto .contCanto .flor{
    justify-content: center;
}
.canto .contCanto .btns button{
    background: #f30101b6;
    color: #fff;
    padding: 5px;
    border: solid .7px #000;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    width: 30%;
}
.canto .contCanto .btns button:nth-child(1){
    background: rgba(0, 88, 0, 0.719);
}
.canto .contCanto .btns button:nth-child(2){
    background: rgba(202, 139, 2, 0.719);
    font-weight: bold;
}
.canto .contCanto .flor button:nth-child(1){
    width: 80%;
    background: #000;
}
.standBy{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #080808a1;
    color: #fff;
}
.standBy .texto h1{
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
    font-size: 4em;
    text-shadow: 1px 1px 9px #fde407d7,
    -1px -1px 9px #fde407d7;
    animation: esperando 2s steps(39) infinite;
    overflow: hidden;
}
.standBy .texto h1 b{
    color: transparent;
    text-shadow: none;
}

@keyframes esperando {
    0%{width: 0px;}
     100%{width: 110%;}
}

.mensaje{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff63;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;
}
.mensaje h1{
    margin: auto;
    border: 1px solid #000;
    border-radius: 6px;
    outline: none;
    padding: 10px;
    background: #dfa403;
}