<div class="body">
    <div class="titulo">
        <h2>Bienvenidos a la sala: {{nameSala | uppercase}}</h2>
        <h4>La apuesta es de: {{sala?.apuesta | currency}}</h4>
    </div>
    <div class="jugadores">
        <div *ngFor="let item of sala?.usuarios" class="jugador">
            <div class="dataTitle">
                <h4>Nombre: {{item.name}}</h4>
                <p>Créditos: {{item.creditos | currency}}</p>
            </div>
            <div class="jugadas">
                <div class="juego">
                    <p class="jugoC" *ngFor="let carta of item?.jugada"><img src="../../../../assets/{{carta}}.jpg" alt=""></p>

                </div>
            </div>
        </div>
    </div>
    <div class="cards">
        <h3>Cartas de: {{jugador.name}}</h3>
        <button class="card" *ngFor="let valor of jugador?.valores" (click)="juega(valor)">
            <img src="../../../../assets/{{valor}}.jpg" alt="">
        </button>
    </div>
    <h2>Tantos: {{jugador.tantos}}</h2>

</div>