<div class="body">
    <div class="container">
        <div class="head">
            <div class="title">
                <img src="assets/Logotruco.png" alt="">
            </div>
            <div class="range">
                <h1>Administrador: {{admin?.name}}</h1>
            </div>
            <div class="closeSesion">
                <button title="Cambiar contraseña" (click)="cambiar()" >Contraseña</button>
                <button title="Cerrar sesión" (click)="closed()">Salir</button>
            </div>
        </div>
        <div class="main">
            <div class="users">
                <div class="up">
                    <h3>USUARIOS:</h3>
                    <app-buscador [elementos]="usuarios" (data)="actualizar($event)"></app-buscador>
                </div>
                <div class="usersAndCredit">
                    <li *ngFor="let item of usersFilter">
                        <h3>{{item.name}}</h3>
                        <i>{{item.credito | currency}}</i>
                        <div class="btns">
                            <button class="reset" (click)="reset(item)"><span class="material-symbols-outlined">
                                autorenew
                                </span>
                            </button>
                            <button (click)="deleteUs(item)">
                                <span class="material-symbols-outlined">
                                    delete
                                </span>
                            </button>
                        </div>
                    </li>
                </div>
            </div>
            <div class="adduser">
                <app-add-users (actualizarData)="traeUsers()"></app-add-users>
                <br>
                <app-add-credit [usuarios]="usuarios" (actualizarData)="traeUsers()"></app-add-credit>
            </div>
        </div>
        <div class="balances">
            <div class="rendimiento" *ngIf="!pagar">
                <h3>Rendiminto: </h3>
                <span> $000</span>
            </div>
            <button (click)="formPayOn()" class="imgPay" *ngIf="!pagar">
                <img src="assets/Logotruco.png" alt="">
            </button>
            <div class="formPay" [formGroup]="formPay" *ngIf="pagar">
                <button class="btnClosed" (click)="formPayOn()"> 
                    <span class="material-symbols-outlined">
                        cancel
                    </span>
                </button>
                <div class="block-form">
                    <label for="monto">Monto:</label>
                    <input formControlName="monto" type="number" id="monto">
                </div>
                <div class="block-form">
                    <label for="comentario">Comentario:</label>
                    <input formControlName="comentario" type="text" id="comentario">
                </div>
                <div class="block-form">
                    <label for="password">Contraseña: </label>
                    <input formControlName="password" type="password" id="password">
                </div>
                <div class="block-btn">
                    <button [disabled]="formPay.invalid" (click)="pay()">Enviar</button>
                </div>
            </div>
            <div class="ganacias" *ngIf="!pagar">
                <h3>Ganancia:</h3>
                <span>{{admin?.earning | currency}}</span>
            </div>
        </div>
    </div>
</div>

<div class="cambiarPass" *ngIf="cambiarPass">
    <div class="forms">
        <div class="form-user">
            <button class="cerrar" (click)="cambiar()">
                <span class="material-symbols-outlined">
                    cancel
                    </span>
            </button>
            <h1>Cambiar contraseña</h1>
            <div [formGroup]="formPass" class="form-block">
                <label for="passOld">Contraseña</label>
                <input formControlName="passOld" type="password" id="passOld">
                <div class="error" >
                    <i *ngIf="formPass.get('passOld')?.invalid && formPass.get('passOld')?.errors?.['minlength'] && formPass.get('passOld')?.touched">Ingrese una contraseña válida.</i>
                </div>
                <label for="passNew">Nueva contraseña:</label>
                <input formControlName="passNew" type="password" id="passNew">
                <div class="error" >
                    <i *ngIf="formPass.get('passNew')?.invalid && formPass.get('passNew')?.errors?.['minlength'] && formPass.get('passNew')?.touched">Ingrese una contraseña válida.</i>
                </div>
                <label for="pass">Confirmar contraseña</label>
                <input formControlName="passConf" type="password" id="pass">
                <div class="error" >
                    <i *ngIf="formPass.get('passConf')?.invalid && formPass.get('passConf')?.errors?.['minlength'] && formPass.get('passConf')?.touched">Ingrese una contraseña válida.</i>
                    <i *ngIf="formPass.get('passConf')?.value !== formPass.get('passNew')?.value && formPass.get('passConf')?.touched">La nueva contraseña debe coinsidir con la confirmación.</i>
                </div>
                <button [disabled]="formPass.invalid" (click)="sendPass()">Cambiar</button>
            </div>
        </div>
    </div>
</div>