.body{
    width: 100%;
    background: #000;
    display: flex;
    color: #fff;
}
.container{
    width: 100%;
    background: var(--back);
    max-width: 1290px;
    margin: auto;
}
.container .head{
    width: 100%;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--border);
}
.head .title{
    display: flex;
    width: 40px;
    height: 40px;
}
.title img{
    width: 100%;
}
.closeSesion button{
    cursor: pointer;
    color: #000;
    background: #fff;
    border: none;
    outline: none;
    text-transform: uppercase;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 3px;
}
.main{
    width: 100%;
    padding: 15px;
    min-height: 70vh;
    border: 1px solid var(--border);
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}
.main .users{
    width: 40%;
    height: 100%;
    max-height: 80vh;
    overflow: auto;
    overflow-x: hidden;
    padding: 20px 10px;
    padding-top: 0px;
    border: 1px solid var(--border);
    /* background: var(--colorSec); */
}
.users .up{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background: var(--back);
}
.usersAndCredit li{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    border: solid 1px var(--border);
}
.usersAndCredit li button{
    color: #fff;
    background: rgb(243, 17, 17);
    border-radius: 3px;
    border: solid .3px var(--border);
    cursor: pointer;
}
.usersAndCredit li button.reset{
    background: #535252;
    margin-right: 5px;
}
.adduser{
    width: 55%;
    margin: 0px auto;
    height: 100%;
}
.balances{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    border: solid 1px var(--border);
}
.balances div{
    display: flex;
    align-items: center;
    padding: 10px;
}
.balances div h3{
    margin-right: 10px;
}
.imgPay{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    background: transparent;
    overflow: hidden;
    box-shadow: inset 1px 1px 10px #fff,
    inset -1px -1px 10px #fff;
}
.imgPay:hover img{
    width: 100%;
}
.imgPay img{
    width: 80%;
    margin: auto;
    transition: all 1s;
}
.formPay{
    background: #000;
    border-radius: 5px;
    border: solid .3px var(--bordeBajo);
    max-width: 50%;
    position: relative;
}
.formPay .btnClosed{
    position: absolute;
    color: #fff;
    background: transparent;
    right: 0px;
    top: 0px;
    cursor: pointer;
}
.formPay .block-form{
    width: 40%;
}
.formPay .block-form input{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    border-bottom: solid .5px #fff;
    padding: 5px;
    margin-left: 10px;
    border-radius: 4px;
    width: 50%;
}
.formPay button{
    background: var(--bordeBajo);
    color: #000;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 5px;
}

/* Para navegadores WebKit */
::-webkit-scrollbar {
    width: 2px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color del fondo de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background: var(--bordeBajo); /* Color del "pulgar" de la barra de desplazamiento */
    border-radius: 10px; /* Bordes redondeados */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color del "pulgar" al pasar el ratón */
}

/* Para Firefox */
.scrollable-element {
    scrollbar-width: thin; /* Hacer la barra de desplazamiento más delgada */
    scrollbar-color: #888 #f1f1f1; /* Color del "pulgar" y del fondo */
}

.form-block button:hover{
    background: var(--bordeBajo);
}

.error{
    min-height: 25px;
    display: flex;
    flex-direction: column;
}
.error i{
    font-size: 10px;
    color: var(--bordeBajo);
}

button:disabled{
    filter: brightness(0.4);
}
button:disabled:hover{
    background: #000;
}
.cambiarPass{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000b4;
    color: #fff;
}
.cambiarPass .form-user{
    position: relative;
}
.forms{
    display: flex;
    margin: auto;
    width: 100%;
    /* align-items: center; */
    margin-top: 10%;
    flex-direction: column;
}
.form-user{
    width: 35%;
    margin: 20px auto;
    padding: 20px;
    border: solid 1px #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 12px rgba(255, 255, 255, 0.795),
    -2px -2px 12px rgba(255, 255, 255, 0.788);
    color: #fff;
    background: #000000d5;
}
.form-user .cerrar{
    position: absolute;
    right: -25px;
    top: -35px;
    border: none;
    color: #fff;
    background: transparent;
    outline: none;
}
.form-block{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.form-block input{
    background-color: transparent;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    padding: 3px;
    border-radius: 3px;
    border-bottom: solid 1px var(--bordeBajo);
    color: #dddcdc;
}
.form-block input:focus-visible{
    background: #ffffff34;
    border: solid 1px var(--bordeBajo);
  }
  .form-block label{
    margin-top: 10px;
  }
.form-block button{
    width: 100%;
    color: #fff;
    background: rgb(151, 92, 3);
    padding: 5px;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.form-user button{
    background-color: #000;
    border-radius: 3px;
    margin-top: 10px;
    color: #fff;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    border: solid 1px #fff;
    padding: 10px 0px;
}

@media screen and (max-width: 800px) {
    .users{
        display: none;
    }
    .adduser{
        width: 90%;
    }
}
@media screen and (max-width: 450px) {
    .adduser{
        width: 100%;
    }
    .head .range{
        display: none;
    }
    .balances{
        flex-wrap: wrap;
    }
}