<div class="body">
    <div class="container">
        <div class="head">
            <div class="title">
                <img src="assets/Logotruco.png" alt="">
            </div>
            <div class="range">
                <h1>Administrador</h1>
            </div>
            <div class="closeSesion">
                <button>Salir</button>
            </div>
        </div>
        <div class="main">
            <div class="users">
                <div class="up">
                    <h3>USUARIOS:</h3>
                    <app-buscador [elementos]="usuarios" (data)="actualizar($event)"></app-buscador>
                </div>
                <div class="usersAndCredit">
                    <li *ngFor="let item of usersFilter">
                        <h3>{{item.name}}</h3>
                        <i>{{item.credito | currency}}</i>
                        <button (click)="deleteUs(item)">
                            <span class="material-symbols-outlined">
                                delete
                            </span>
                        </button></li>
                </div>
            </div>
            <div class="adduser">
                <app-add-users></app-add-users>
                <br>
                <app-add-credit [usuarios]="usuarios"></app-add-credit>
            </div>
        </div>
        <div class="balances">
            <div class="rendimiento">
                <h3>Rendiminto: </h3>
                <span> $000</span>
            </div>
            <div class="ganacias">
                <h3>Ganancia:</h3>
                <span>$000</span>
            </div>
        </div>
    </div>
</div>
