/* You can add global styles to this file, and also import other style files */

:root{
    --colorPri: #fc91047c;
    --colorSec: #fc91045b;
    --bordeBajo: rgb(250, 124, 6);
    --border: #fff;
    --back: #2a2633;
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}