<!-- <div class="cards">
  <h1>Web socket</h1>
  <div class="elegir-card">
    <h2>Cartas:</h2>
    <select #card>
      <option *ngFor="let carta of cartas" value="{{carta}}" >{{carta}}</option>
    </select>
    <button (click)="ejecutar()">Ejecy</button>
  </div>
  <div class="jugadores" #jugadores>
    
    <div class="jugador2">
      <h4>Jugador 2</h4>
      <div class="valores">
        <p>Valores</p>
        <i></i>
      </div>
    </div> 
  </div>
</div> -->

<router-outlet></router-outlet>